@font-face {
  font-family: Livvic Bold;
  src: url(../../Fonts/Livvic-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Livvic Semi-Bold;
  src: url(../../Fonts/Livvic-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Livvic Medium;
  src: url(../../Fonts/Livvic-Bold.ttf);
  font-weight: 500;
  font-style: normal;
}
